/* ADMIN LOGIN PAGE */
body {
    margin: 0;
    padding: 0;
    height: 100vh;

    background: url("https://i.pinimg.com/1200x/6d/46/6f/6d466f1b123435fc5df21686c850afbd.jpg") no-repeat center center/cover;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    height: 250px;
    padding: 40px;
    border-radius: 15px;

    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255,255,255,0.25);

    box-shadow: 0 8px 32px rgba(0,0,0,0.4);
    text-align: center;
    color: white;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 92%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
}

button {
    width: 100%;
    padding: 12px;
    background: rgba(255,0,0,0.8);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: rgba(255,0,0,1);
}
